@font-face {
	src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-Bold.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Bold.ttf") format("ttf");
	font-family: "Avenir";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-Regular.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Regular.ttf") format("ttf");
	font-family: "Avenir";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	src: url("../fonts/bebasneue-bold.woff2") format("woff2"),
		url("../fonts/bebasneue-bold.woff") format("woff"),
		url("../fonts/bebasneue-bold.ttf") format("ttf");
	font-family: "Bebas";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	src: url("../fonts/bebasneue-regular.woff2") format("woff2"),
		url("../fonts/bebasneue-regular.woff") format("woff"),
		url("../fonts/bebasneue-regular.ttf") format("ttf");
	font-family: "Bebas";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	src: url("../fonts/bebasneue-light.woff2") format("woff2"),
		url("../fonts/bebasneue-light.woff") format("woff"),
		url("../fonts/bebasneue-light.ttf") format("ttf");
	font-family: "Bebas";
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}